<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487717251994-1crelvk5sr9v3r919dbf9n9h4qcndg4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487717251994-1crelvk5sr9v3r919dbf9n9h4qcndg4n</string>
	<key>API_KEY</key>
	<string>AIzaSyBhWNTtI2F-aXaIqEOdDuw0y-qRSoDpiYY</string>
	<key>GCM_SENDER_ID</key>
	<string>487717251994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lsribeiro.marvel</string>
	<key>PROJECT_ID</key>
	<string>personal-library-captis</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-library-captis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487717251994:ios:612c7eb903f6cbd8b0e823</string>
</dict>
</plist>